<h1>Detroit Landmarks</h1>

<%= button_to "Create a New Landmark", new_landmark_url %>

	<% label = 0 %>
	<% markers = "" %>
	
	<% @landmarks.each do |landmark| %>
		
		<% if landmark.address != "" %>
			<% label = label + 1 %>
			<p> <%= link_to landmark.name, landmark_url(landmark.id)  %> (<%= label%>)</p>
			<% markers = markers + "&" + "markers=color:blue|label:#{label}|#{landmark.address}" %>
			
		<% else %>
			<p> <%= link_to landmark.name, landmark_url(landmark.id)  %></p>
		<% end %>
		
	<% end %>
		
<p><img border="0" src="http://maps.googleapis.com/maps/api/staticmap?center=Dearborn, MI&zoom=9&size=640x400&sensor=false&<%= markers %>" alt="Trip to Detroit" /></p>



